$md-primary: (
    50 : #e1f8f3,
    100 : #b3ede1,
    200 : #81e1cd,
    300 : #4ed5b8,
    400 : #28cca9,
    500 : #02c39a,
    600 : #02bd92,
    700 : #01b588,
    800 : #01ae7e,
    900 : #01a16c,
    A100 : #cbffec,
    A200 : #98ffd8,
    A400 : #65ffc5,
    A700 : #4cffbc,
    contrast: (
        50 : #000,
        100 : #000,
        200 : #000,
        300 : #000,
        400 : #000,
        500 : #000,
        600 : #000,
        700 : #fff,
        800 : #fff,
        900 : #fff,
        A100 : #000,
        A200 : #000,
        A400 : #000,
        A700 : #000,
    )
);

$md-secondary: (
    50 : #fdfef7,
    100 : #fbfbeb,
    200 : #f8f9de,
    300 : #f5f7d1,
    400 : #f2f5c7,
    500 : #f0f3bd,
    600 : #eef1b7,
    700 : #ecefae,
    800 : #e9eda6,
    900 : #e5ea98,
    A100 : #fff,
    A200 : #fff,
    A400 : #fff,
    A700 : #fff,
    contrast: (
        50 : #000,
        100 : #000,
        200 : #000,
        300 : #000,
        400 : #000,
        500 : #000,
        600 : #000,
        700 : #000,
        800 : #000,
        900 : #000,
        A100 : #000,
        A200 : #000,
        A400 : #000,
        A700 : #000,
    )
);

@import '~@angular/material/theming';
@include mat-core();

$weigh-me-primary: mat-palette($md-primary);
$weigh-me-accent: mat-palette($md-secondary, A200, A100, A400);
$weigh-me-warn: mat-palette($mat-red);
$weigh-me-theme: mat-light-theme($weigh-me-primary, $weigh-me-accent, $weigh-me-warn);

@include angular-material-theme($weigh-me-theme);
