$bfa-primary: (
    50: #f2e7e3,
    100: #dfc3b9,
    200: #ca9b8b,
    300: #b4725c,
    400: #a45439,
    500: #943616,
    600: #8c3013,
    700: #812910,
    800: #77220c,
    900: #651606,
    A100: #ffa296,
    A200: #ff7563,
    A400: #ff4830,
    A700: #ff3216,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #000,
        A200: #000,
        A400: #fff,
        A700: #fff
    )
);

$bfa-secondary: (
    50: #faf6eb,
    100: #f2e9ce,
    200: #eadbae,
    300: #e1cd8d,
    400: #dac274,
    500: #d4b75c,
    600: #cfb054,
    700: #c9a74a,
    800: #c39f41,
    900: #b99030,
    A100: #fffffe,
    A200: #ffefcb,
    A400: #ffdf98,
    A700: #ffd77f,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #000,
        500: #000,
        600: #000,
        700: #000,
        800: #000,
        900: #000,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000
    )
);

@import '~@angular/material/theming';
@include mat-core();

$weigh-me-primary: mat-palette($bfa-primary);
$weigh-me-accent: mat-palette($bfa-secondary, A200, A100, A400);
$weigh-me-warn: mat-palette($mat-red);
$weigh-me-theme: mat-light-theme($weigh-me-primary, $weigh-me-accent, $weigh-me-warn);

@include angular-material-theme($weigh-me-theme);
