// ------------------------------------
//  VARIABLES
// ------------------------------------

// Global namespace prefix
$ns: 'bfa';

// Typography
// ------------------------------------

// Application base font size
$base-font-size: 16px;

// Colours
// ------------------------------------

$palettes: (
    black: (
        default: #000
    ),
    white: (
        default: #fff
    ),
    grey: (
        default: #4b4b4b,
        alt: #c1c1c1,
        pale: #f5f6f7
    ),
    primary: (
        default: #02c39a,
        alt: #4cffbc,
        dark: #01ae7e,
        pale: #b3ede1,
        tint: #98ffd8
    ),
    secondary: (
        default: #f0f3bd,
        alt: #fff,
        dark: #e9eda6,
        pale: #fbfbeb,
        tint: #fff
    )
);

// Grid
$grid-gutter-width: 30px;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);
