@import '../../../assets/scss/shared';

.footer {
    display: flex;
    justify-content: center;

    &__copy {
        @include rem(font-size, 16px);
        @include rem(line-height, 20px);
        font-weight: 400;
    }
}
