@import '../../../assets/scss/shared';

.chart {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.ngx-charts-outer {
    margin: 0 auto;
}

.form {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    &__field {
        @include rem(padding, 0 9px);
    }

    &__submit {
        width: 100%;

        @include breakpoint-up(sm) {
            width: auto;
        }
    }
}
