<mat-toolbar class="navbar">
    <a [routerLink]="[ '/' ]" mat-button color="primary" class="navbar__logo" aria-label="Weigh Me Homepage" title="Weigh Me Homepage">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.677 42.258">
            <path class="navbar__stroke" fill="none" stroke="#02c39a" stroke-width="17.165" d="M8.384-2.154l9.684 36.192h2.414l8.009-7.95h1.292l8.604 7.95h2.101L50.342-2.7M57.868 44.645l9.684-36.192h2.414l8.009 7.95h1.293l8.603-7.95h2.101l9.854 36.738" />
            <path class="navbar__stroke--alt" fill="none" stroke="#02c39a" stroke-width="17.165" d="M8.384-2.154l9.684 36.192h2.414l8.009-7.95h1.292l8.604 7.95h2.101L50.342-2.7M57.868 44.645l9.684-36.192h2.414l8.009 7.95h1.293l8.603-7.95h2.101l9.854 36.738" />
        </svg>
    </a>
    <nav>
        <a [routerLink]="[ '/profile' ]" *ngIf="auth.loggedIn" mat-button color="primary">Profile</a>
        <button mat-flat-button color="primary" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        <button mat-flat-button color="primary" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    </nav>
</mat-toolbar>