@import '../../../assets/scss/shared';

@keyframes offset {
    100% {
        stroke-dashoffset: 0;

    }
}

.navbar {
    display: flex;
    justify-content: space-between;

    &__brand {
        fill: color(primary);
        padding: 0;

        &:hover {
            .navbar__stroke--alt {
                stroke-dashoffset: 0;
            }
        }
    }

    &__logo {
        @include rem(height, 25px);
        width: auto;
    }

    &__stroke {
        animation: offset 1.5s linear 0.5s forwards;
        stroke: color(primary);
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    &__stroke--alt {
        stroke: lighten(color(primary), 6%);
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        transition: stroke-dashoffset 0.5s linear;
    }
}
