<mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="personalInfoForm">
        <form [formGroup]="personalInfoForm" class="register-form">
            <ng-template matStepLabel>Personal Information</ng-template>
            <mat-form-field class="register-form__group">
                <mat-label>Display name</mat-label>
                <input matInput formControlName="displayName" required>
            </mat-form-field>

            <mat-form-field class="register-form__group">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="register-form__group">
                <mat-label>Gender</mat-label>
                <select matNativeControl formControlName="gender" required>
                    <option></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </mat-form-field>
            <div class="register-form__footer">
                <div></div>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="fitnessForm">
        <form [formGroup]="fitnessForm" class="register-form">
            <ng-template matStepLabel>Fitness and Goals</ng-template>
            <div class="register-form__footer">
                <button mat-flat-button color="primary" matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="register-form__footer">
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>