<main class="home">
    <section class="home__container">
        <h1 class="home__h1">Weigh Me.</h1>
        <p class="home__subheading">Keep on top of your fitness goals. Track progress. Earn achievements. Compete with friends.</p>
        <button class="home__cta" mat-raised-button color="primary" (click)="auth.login()">Start for free</button>
        <p>Already have an account? <button mat-button color="primary" (click)="auth.login()">Log In</button></p>
    </section>

    <section class="home__container">
        <h2 class="home__h2">Keep on top of your fitness goals.</h2>
        <p class="home__subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum eaque voluptatum illum explicabo. Possimus quibusdam illum provident eum neque! Molestiae adipisci nostrum hic veniam quas nam sint, itaque obcaecati?</p>
    </section>

    <section class="home__container">
        <h2 class="home__h2">Track progress.</h2>
        <p class="home__subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum eaque voluptatum illum explicabo. Possimus quibusdam illum provident eum neque! Molestiae adipisci nostrum hic veniam quas nam sint, itaque obcaecati?</p>
    </section>

    <section class="home__container">
        <h2 class="home__h2">Earn achievements.</h2>
        <p class="home__subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum eaque voluptatum illum explicabo. Possimus quibusdam illum provident eum neque! Molestiae adipisci nostrum hic veniam quas nam sint, itaque obcaecati?</p>
    </section>

    <section class="home__container">
        <h2 class="home__h2">Compete with friends.</h2>
        <p class="home__subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum eaque voluptatum illum explicabo. Possimus quibusdam illum provident eum neque! Molestiae adipisci nostrum hic veniam quas nam sint, itaque obcaecati?</p>
    </section>
</main>